<%@ page contentType="text/html;charset=utf-8" pageEncoding="utf-8"%>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><es:message key="main.title" /></title>
<base target="_main_frame"/>
<link rel="shortcut icon" type="image/ico" href="<es:uri uritype="web" uri="/image/favicon.ico" />" />
<link type="text/css" href="<es:uri uritype="web" uri="/stylesheet/cascade/style.css" />" rel="stylesheet" />
<script type="text/javascript" src="<es:uri uritype="web" uri="/script/jquery.js" />"></script>
<script type="text/javascript" src="<es:uri uritype="web" uri="/script/default.js" />"></script>
<script type="text/javascript">
<!--
if (window.attachEvent) {
	window.attachEvent('onload', _initialize);
} else if (window.addEventListener) {
	window.addEventListener('load', _initialize, false);
} else {
	document.addEventListener('load', _initialize, false);
} 
-->
</script>
</head>
<body id="_container">
<header id="_header">
	<div style="position:fixed; top:0px; left:0px; right:0px; z-index:5;">
		<section id="_title">
			<div style="background-color:green; border-radius:5px;">
				<table>
					<tr>
						<td height="32px" style="padding-left:10px; font-size: 13px; color: #FFFFFF; font-weight: bold;">
							CONTENT TITLE
						</td>
					</tr>
				</table>
			</div>
		</section>
	</div>
</header>

<section id="_content">
	<div style="position:fixed; top:32px; bottom:32px; left:0px; right:0px; z-index:0; overflow:auto;">
		<article id="_article">
			<div style="height:100%; border:0; background-color: orange;">
				<table>
					<tr>
						<td height="32px" style="padding-left:10px; font-size: 13px; color: #FFFFFF; font-weight: bold;">
							CONTENT ARTICLE
						</td>
					</tr>
				</table>
			</div>
			<div style="font-size: 13px;">
				<div class="_retrieval_argument">
					<fieldset>
						<form id="form" name="form" method="post" action="<es:uri uritype="dspt" uri="/admin/account/search" />" onsubmit="return _validate();">
							<input id="pageId" name="pageId" type="hidden" value="${data.parameters.pageId}" />
							<input id="action_type" name="action_type" type="hidden" value="search" />
							<input id="currentPage" name="currentPage" type="hidden" value="${data.parameters.currentPage}" />
							<input id="recordPerPage" name="recordPerPage" type="hidden" value="${data.parameters.recordPerPage}" />
							<input id="sortField" name="sortField" type="hidden" value="${data.parameters.sortField}" />
							<input id="sortBy" name="sortBy" type="hidden" value="${data.parameters.sortBy}" />
							<select name="searchField">
								<option ${data.parameters.searchField == 'SEARCH.FIELD'		? 'selected' : ''} value="SEARCH.FIELD">SEARCH.FIELD</option>
	 						</select>
							<input type='text' id='searchBy' name='searchBy' placeholder="Search Keyword" value='${data.parameters.searchBy}' />
							<input type="submit" value="Search" />
							<select name="recordPerPage">
								<option ${data.parameters.recordPerPage == 10	? 'selected' : ''} value="10">10 rows</option>
								<option ${data.parameters.recordPerPage == 15	? 'selected' : ''} value="15">15 rows</option>
								<option ${data.parameters.recordPerPage == 20	? 'selected' : ''} value="20">20 rows</option>
								<option ${data.parameters.recordPerPage == 50	? 'selected' : ''} value="50">50 rows</option>
								<option ${data.parameters.recordPerPage == 100	? 'selected' : ''} value="100">100 rows</option>
								<option ${data.parameters.recordPerPage == 1000	? 'selected' : ''} value="1000">1000 rows</option>
							</select>
						</form>
					</fieldset>
				</div>
				<div class="_content_list">
					<table>
						<thead>
							<tr>
								<c:forEach var="title" items="${requestScope.data['titles']}" varStatus="l">
									<th><button id="_content_list_header_${title}" onclick="javascript:void(0);" class="btn">${title}</button></th>
								</c:forEach>
							</tr>
						</thead>
						<tbody>
							<c:forEach var="content" items="${requestScope.data['contents']}" varStatus="l">
								<tr>
									<c:forEach var="title" items="${requestScope.data['titles']}" varStatus="l">
										<td>${content[title]}</td>
									</c:forEach>
								</tr>
							</c:forEach>
							<c:if test="${empty requestScope.data}">
								<tr>
									<td colspan="${requestScope.data['titles'].size()}" align="center">데이터가 없습니다.</td>
								</tr>
							</c:if>
							<c:forEach var="lc" begin="${empty requestScope.data ? 2 : requestScope.data['contents'].size()+1}" end="15" step="1">
								<tr><td colspan="${requestScope.data['titles'].size()}">&nbsp;</td></tr>
							</c:forEach>
						</tbody>
					</table>
				</div>
				<div class="_retrieval_argument">
					<fieldset>
						<es:pagination currentPage="${requestScope.data.parameters.currentPage}"
										totalRecordCount="${requestScope.data.totalRecordCount}"
										recordPerPage="${requestScope.data.parameters.recordPerPage}"
										linkPerBlock="10"
										uri="javascript:_pagination(##);" />
						<div style="text-align: right;">ARTICLE COUNT : <fmt:formatNumber pattern="#,##0" value="100000000" /></div>
					</fieldset>
				</div>
			</div>
		</article>
	</div>
</section>

<section id="_message">
	<article id="_notice">
		<div style="position:fixed; top:0px; bottom:0px; left:0px; right:0px; z-index:20; padding:100px 0px 0px 0px; display:none;">
			<iframe style="position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1; border:0px; background-color:#c0c0c0; filter:alpha(opacity=50); opacity:0.5;"></iframe>
			<table style="border:0; padding:0; margin:0 auto;">
				<tr>
					<td width="300px"></td>
				</tr>
			</table>
		</div>
	</article>
</section>

<footer id="_footer">
	<div style="position:fixed; bottom:0px; left:0px; right:0px; z-index:5; height:32px;">
		<section id="_comment">
			<div style="height:100%; border:0; background-color: gray;">
				<table>
					<tr>
						<td height="32px" style="padding-left:10px; font-size: 13px; color: #FFFFFF; font-weight: bold;">
							CONTENT FOOTER
						</td>
					</tr>
				</table>
			</div>
		</section>
	</div>
</footer>
</body>
</html>