<header id="_nav_header">
<% include ../../templates/page/section/header.ejs %>
</header>
<section id="_content">
<a href="/">Success!</a>
</section>
<footer id="_nav_footer">
<% include ../../templates/page/section/footer.ejs %>
</footer>
