<div style="height:100%; font-size: 13px;">
	<table>
		<tr>
			<td height="25px" style="padding-left:10px;">
				Copyright ⓒ 2014 °hajimaro™. Verbatim copying and distribution of this entire article are permitted worldwide, without royalty, in any medium, provided this notice, and the copyright notice, are preserved.
			</td>
		</tr>
	</table>
</div>
