<div style="position:absolute; top:0px; left:0px; right:0px; z-index:5; font-size: 13px; display:none;">
	<table style="width: 100%; min-width: 900px;">
		<tr>
			<td width="210px"><a href="/" target="_top" onfocus='this.blur()'><img src="static/images/layout/header/logo.jpeg" name="logo_img" width="210px" height="58px" border="0" id="logo_img" /></a></td>
			<td>
				<div style="text-align: right;">
					안녕하세요. 환영합니다.
					<form action="/security/authe/sign_out" method="post" target="_top">
						<input type="hidden" name="csrf.parameterName" value="csrf.token"/>
						<input type="image" src="static/images/layout/header/logout.gif" alt="로그아웃" />
						<!-- input type="submit" value="Logout" / -->
					</form>
				</div>
				<div style="margin-left: 20px; background: #254e8f; background: linear-gradient(#254e8f, #385d99); background: -ms-linear-gradient(#254e8f, #385d99); border-top: 1px solid #bfbfbf; border-bottom: 3px solid #173a6b; height: 32px; box-shadow: -20px 0px 0 #eee;">
					<ul id="_top_root_menu_area" style="list-style: none;"></ul>
				</div>
			</td>
		</tr>
	</table>
</div>
<h2>루안설계사무소 : 일등주택</h2>